/* #5D5C61
#379683
#7395AE
#557A95
#B1A296 */

.container {
  background-color: #b1a296;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
h1 {
  color: lightcyan;
  background-color: #5d5c61;
  padding: 45px;
  text-align: center;
  border-radius: 50px;
}
.header {
  border: 2px solid black;
  padding: 50px;
  background-color: #7395ae;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header input {
  line-height: 25px;
  min-width: 250px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px;
}
.header input:hover {
  background-color: lightgreen;
}

.header button {
  padding: 6px 12px;
  border-radius: 20px;
  border: 2px solid black;
  transition: 700ms;
  background-color: #5d5c61;
  color: lightgreen;
  font-weight: bolder;
  opacity: 0.7;
}
.header button:hover {
  transform: scale(1.1);
  opacity: 1;
}
#commentContainer {
  margin: 50px;
  border: 2px black solid;
  padding: 50px;
  background-color: lightyellow;
}
.firstComment {
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
}
.firstComment span {
  margin: 20px;
  display: block;
}
.replyButton {
  padding: 6px 12px;
  border-radius: 20px;
  border: 2px solid black;
  opacity: 0.7;
  margin-bottom: 15px;
}
.replyButton:hover {
  transform: scale(1.1);
  opacity: 1;
}

.comment {
  border: 2px solid gray;
  padding-left: 10px;
  margin-bottom: 10px;
}
.subReplying {
  line-height: 25px;
  width: 60%;
  margin-right: 20px;
  background-color: white;
  border-radius: 20px;
}
.doneButton {
  padding: 6px 12px;
  border-radius: 20px;
  border: 2px solid black;
  background-color: #7395ae;
  color: white;
  font-weight: bolder;
  opacity: 0.6;
}
.doneButton:hover {
  opacity: 1;
  transform: scale(1.1);
}
